html {
  font-size: 16px;
  line-height: 1.625;
  font-weight: 400;
}

body {
  color: var(--text-primary);
  font-family: var(--font-body);
  background: var(--background);

  font-synthesis: none;
  text-rendering: geometricPrecision;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: 1.125rem;
  line-height: 1.3333;
  font-weight: var(--text-bold-weight);
  text-transform: uppercase;
  font-family: var(--font-heading);
}
h4, h5, h6 {
  font-size: 1rem;
}

p {
  margin: 0;
}

hr {
  border: 0;
  height: 1px;
  background: var(--divider);
}

a {
  text-decoration: none;
  color: var(--link-primary);
}
a:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: var(--sidebar-width);
  overflow-y: auto;
  border-right: 1px solid var(--divider);
  box-sizing: border-box;
}

.switcher {
  padding: var(--spacing);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.switcher .person {
  display: flex;
  align-items: center;
}

.switcher .person img {
  margin-right: calc(var(--spacing) / 3);
  border-radius: var(--border-radius);
}
.switcher .person span {
  font-size: 0.875rem;
}

.switcher > img {
  flex: 0;
  border-radius: var(--border-radius);
}

.sidebar a {
  display: block;
  padding: var(--spacing);
  margin-bottom: calc(var(--spacing) / 2);
  color: var(--text-secondary);
  font-family: var(--font-heading);
  font-weight: 500;
  text-transform: uppercase;
  font-size: 0.8125rem;
  letter-spacing: 1px;
}
.sidebar a:hover {
  text-decoration: none;
}

.sidebar a.active {
  background-color: var(--background-hover);
  color: var(--text-primary);
}

.content {
  margin-left: var(--sidebar-width);
  padding: var(--spacing);
  box-sizing: border-box;
}

.title {
  margin-bottom: var(--spacing);
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.card {
  margin-bottom: var(--spacing);
  padding: var(--spacing);
  border-radius: var(--border-radius);
  background-color: var(--background-surface);
  box-shadow: var(--card-shadow);
}
.card hr {
  background-color: var(--divider-on-surface);
}

p.primary, span.primary {
  color: var(--text-primary);
}
p.secondary, span.secondary {
  color: var(--text-secondary);
}
p.dimmed, span.dimmed {
  color: var(--text-dimmed);
}

button {
  appearance: none;
  border: none;
  cursor: pointer;

  box-sizing: border-box;
  border-radius: var(--border-radius);
  padding: 0.625rem 1rem;
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1;
  font-family: var(--font-heading);
  transition:
    background-color var(--color-fade-duration) ease-out,
    border var(--color-fade-duration) ease-out
  ;
}
button:disabled {
  pointer-events: none;
}

button.primary {
  border: 1px solid var(--button-primary-border);
  background-color: var(--button-primary-background);
  color: var(--text-primary-on-accent);
  box-shadow: var(--button-shadow-for-accent);
}
button.primary:hover {
  border-color: transparent;
  border-color: var(--button-primary-border-hover);
  background-color: var(--button-primary-hover);
}
button.primary:active {
  box-shadow: none;
  border-color: transparent;
  transform: translateY(1px);
  background-color: var(--button-primary-active);
}
button.primary:disabled {
  opacity: var(--button-primary-disabled-opacity);
  border-color: transparent;
  box-shadow: none;
}

button.secondary {
  border: 1px solid var(--button-secondary-border);
  background-color: var(--button-secondary-background);
  box-shadow: var(--button-shadow);
  color: var(--text-primary-on-surface);
}
button.secondary:hover {
  border-color: transparent;
  border-color: var(--button-secondary-border-hover);
  background-color: var(--button-secondary-hover);
}
button.secondary:active {
  box-shadow: none;
  transform: translateY(1px);
  background-color: var(--button-secondary-active);
}
button.secondary:disabled {
  opacity: var(--button-secondary-disabled-opacity);
  box-shadow: none;
}

button.danger {
  border: 1px solid var(--button-danger-border);
  background-color: var(--button-danger-background);
  color: var(--text-primary-on-danger);
  box-shadow: var(--button-shadow-for-danger);
}
button.danger:hover {
  border-color: transparent;
  border-color: var(--button-danger-border-hover);
  background-color: var(--button-danger-hover);
}
button.danger:active {
  box-shadow: none;
  border-color: transparent;
  transform: translateY(1px);
  background-color: var(--button-danger-active);
}
button.danger:disabled {
  opacity: var(--button-danger-disabled-opacity);
  border-color: transparent;
  box-shadow: none;
}