html {
  font-size: 16px;
  font-weight: 400;
}

body {
  color: var(--text-primary);
  font-family: var(--font-body);
  background: var(--background);
  line-height: 1.625;

  font-synthesis: none;
  text-rendering: geometricPrecision;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: 1.125rem;
  line-height: 1.3333;
  font-weight: var(--text-bold-weight);
  text-transform: uppercase;
  font-family: var(--font-heading);
}
h4, h5, h6 {
  font-size: 1rem;
}

p {
  margin: 0;
}

hr {
  border: 0;
  height: 1px;
  background: var(--divider);
}

a {
  text-decoration: none;
  color: var(--link-primary);
}
a:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.content {
  padding: var(--content-padding);
}

/**
.title {
  margin-bottom: var(--spacing);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
**/


.card {
  margin-bottom: var(--spacing);
  border-radius: var(--border-radius);
  background-color: var(--background-surface);
}
.card.outputs {
  background-color: transparent;
  border: 1px solid var(--divider);
}
.card .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: calc(var(--spacing) - 2px) calc(var(--spacing) + 4px);
  border-bottom: 1px solid var(--divider-on-surface);
}
.card h1 {
  font-size: 1rem;
  text-transform: none;
  display: flex;
  align-items: baseline;
  font-weight: 500;
  font-family: var(--font-body);
  font-size: 0.875rem;
}
.card h1 svg {
  margin-right: 5px;
  padding: 1px 0;
  width: 16px;
  height: 16px;
  align-self: center;
  opacity: var(--icon-opacity);
}
.card h1 span:nth-child(3) {
  margin-left: 8px;
  font-weight: 400;
  font-size: 0.8125rem;
  color: var(--text-secondary);
}
.card h6 {
  display: flex;
  font-size: 0.8125rem;
  font-weight: 400;
  text-transform: none;
  color: var(--text-secondary);
}
.card h6 span.separator {
  margin: 0 6px;
  color: var(--divider-on-surface);
  font-weight: var(--text-bold-weight);
}
.card hr {
  background-color: var(--divider-on-surface);
}

.functions,
.outputs {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.functions li,
.outputs li {
  margin: 0 calc(var(--spacing) + 4px);
  padding: 13px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--divider-on-surface);
}
.functions li:last-child,
.outputs li:last-child {
  border: none;
}
.functions li span {
  font-family: var(--font-code);
  font-size: 0.8125rem;
  line-height: 1;
}
.functions li .left {
  display: flex;
  align-items: center;
}
.functions li .right,
.outputs li .right {
  display: flex;
  align-items: center;
}
.functions .right span {
  margin-left: calc(var(--spacing) / 1.5);
}
.functions li .name {
  margin-right: 15px;
  font-size: 0.875rem;
}
.outputs li .name {
  font-size: 0.875rem;
}
.functions li .method {
  margin: 0 10px 0 0;
  width: 48px;
  text-align: center;
  color: var(--text-secondary);
  font-size: 0.5625rem;
  font-weight: 500;
  text-transform: uppercase;
  border: 1px solid var(--divider);
  padding: 4px 4px;
  line-height: 1.1;
  border-radius: var(--border-radius);
}
.functions li .route {
  font-family: var(--font-code);
  font-size: 0.875rem;
}
.functions li .size {
  color: var(--text-secondary);
}
.functions li .runtime svg {
  margin-left: 10px;
  width: 16px;
  height: 16px;
  color: var(--text-dimmed);
  opacity: var(--icon-opacity);
  vertical-align: middle;
}
.functions li .right .region {
  margin-left: 7px;
  color: var(--text-dimmed);
  font-size: 0.625rem;
  text-transform: uppercase;
}
.outputs li .value {
  color: var(--text-secondary);
  font-family: var(--font-code);
  font-size: 0.8125rem;
}
.outputs li .copy {
  margin-left: 10px;
  color: var(--text-dimmed);
  opacity: var(--icon-opacity);
  transition:
    color var(--color-fade-duration) ease-out
  ;
}
.outputs li .copy:hover {
  color: var(--text-secondary);
}
.outputs li .copy svg {
  display: block;
  width: 18px;
  height: 18px;
}


p.primary, span.primary {
  color: var(--text-primary);
}
p.secondary, span.secondary {
  color: var(--text-secondary);
}
p.dimmed, span.dimmed {
  color: var(--text-dimmed);
}

button {
  appearance: none;
  border: none;
  cursor: pointer;

  box-sizing: border-box;
  border-radius: var(--border-radius);
  padding: 0.625rem 1rem;
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1;
  font-family: var(--font-heading);
  transition:
    background-color var(--color-fade-duration) ease-out,
    border var(--color-fade-duration) ease-out
  ;
}
button:disabled {
  pointer-events: none;
}

button.primary {
  border: 1px solid var(--button-primary-border);
  background-color: var(--button-primary-background);
  color: var(--text-primary-on-accent);
  box-shadow: var(--button-shadow-for-accent);
}
button.primary:hover {
  border-color: transparent;
  border-color: var(--button-primary-border-hover);
  background-color: var(--button-primary-hover);
}
button.primary:active {
  box-shadow: none;
  border-color: transparent;
  transform: translateY(1px);
  background-color: var(--button-primary-active);
}
button.primary:disabled {
  opacity: var(--button-primary-disabled-opacity);
  border-color: transparent;
  box-shadow: none;
}

button.secondary {
  border: 1px solid var(--button-secondary-border);
  background-color: var(--button-secondary-background);
  box-shadow: var(--button-shadow);
  color: var(--text-primary-on-surface);
}
button.secondary:hover {
  border-color: transparent;
  border-color: var(--button-secondary-border-hover);
  background-color: var(--button-secondary-hover);
}
button.secondary:active {
  box-shadow: none;
  transform: translateY(1px);
  background-color: var(--button-secondary-active);
}
button.secondary:disabled {
  opacity: var(--button-secondary-disabled-opacity);
  box-shadow: none;
}

button.danger {
  border: 1px solid var(--button-danger-border);
  background-color: var(--button-danger-background);
  color: var(--text-primary-on-danger);
  box-shadow: var(--button-shadow-for-danger);
}
button.danger:hover {
  border-color: transparent;
  border-color: var(--button-danger-border-hover);
  background-color: var(--button-danger-hover);
}
button.danger:active {
  box-shadow: none;
  border-color: transparent;
  transform: translateY(1px);
  background-color: var(--button-danger-active);
}
button.danger:disabled {
  opacity: var(--button-danger-disabled-opacity);
  border-color: transparent;
  box-shadow: none;
}