---
import patrick from "../images/patrick.jpg";
import Switcher from "./Switcher.astro";
---

<style>
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: var(--sidebar-width);
  overflow-y: auto;
  border-right: 1px solid var(--divider);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar .links {
  padding-top: var(--sidebar-padding);
}

.sidebar .links a {
  display: block;
  padding: var(--spacing) var(--sidebar-padding);
  color: var(--text-secondary);
  font-family: var(--font-heading);
  font-weight: 500;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  transition: color var(--color-fade-duration) ease-out;
  display: flex;
  align-items: center;
}
.sidebar .links a:hover {
  text-decoration: none;
  color: var(--text-primary);
}

.sidebar .links a.active {
  background-color: var(--background-hover);
  color: var(--text-primary);
}

.sidebar .links a span {
  line-height: 1;
}
.sidebar .links a svg {
  margin: 0 9px 0 6px;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  opacity: var(--icon-opacity);
}

.tools {
  padding: var(--sidebar-padding) 0 var(--sidebar-padding) var(--sidebar-padding);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tools .user {
  color: var(--text-secondary);
  cursor: pointer;
  line-height: 1;
  font-size: 0.875rem;
  opacity: 0.8;
  transition: opacity var(--color-fade-duration) ease-out;
}
.tools .user:hover {
  text-decoration: none;
  opacity: 1;
}

.tools .user img {
  margin-right: 3px;
  border-radius: 50%;
  vertical-align: middle;
  background-color: var(--background-surface);
}

.tools .help {
  padding: 4px var(--sidebar-padding);
  transition: background-color var(--color-fade-duration) ease-out;
  color: var(--color-black);
  opacity: 0.4;
  transition: opacity var(--color-fade-duration) ease-out;
  cursor: pointer;
}
.tools .help svg {
  display: block;
  width: 20px;
  height: 20px;
}
.tools .help:hover {
  opacity: 0.7;
}

.tools > img {
  flex: 0;
  border-radius: var(--border-radius);
}
</style>

<div class="sidebar">
  <div>
    <Switcher />
    <div class="links">
      <a href="/">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="M13 8V4q0-.425.288-.713T14 3h6q.425 0 .713.288T21 4v4q0 .425-.288.713T20 9h-6q-.425 0-.713-.288T13 8ZM3 12V4q0-.425.288-.713T4 3h6q.425 0 .713.288T11 4v8q0 .425-.288.713T10 13H4q-.425 0-.713-.288T3 12Zm10 8v-8q0-.425.288-.713T14 11h6q.425 0 .713.288T21 12v8q0 .425-.288.713T20 21h-6q-.425 0-.713-.288T13 20ZM3 20v-4q0-.425.288-.713T4 15h6q.425 0 .713.288T11 16v4q0 .425-.288.713T10 21H4q-.425 0-.713-.288T3 20Zm2-9h4V5H5v6Zm10 8h4v-6h-4v6Zm0-12h4V5h-4v2ZM5 19h4v-2H5v2Zm4-8Zm6-4Zm0 6Zm-6 4Z"/></svg>
        <span>Resources</span>
      </a>
      <a href="/">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="M8 17q.425 0 .713-.288T9 16q0-.425-.288-.713T8 15q-.425 0-.713.288T7 16q0 .425.288.713T8 17Zm0-4q.425 0 .713-.288T9 12q0-.425-.288-.713T8 11q-.425 0-.713.288T7 12q0 .425.288.713T8 13Zm0-4q.425 0 .713-.288T9 8q0-.425-.288-.713T8 7q-.425 0-.713.288T7 8q0 .425.288.713T8 9Zm4 8h4q.425 0 .713-.288T17 16q0-.425-.288-.713T16 15h-4q-.425 0-.713.288T11 16q0 .425.288.713T12 17Zm0-4h4q.425 0 .713-.288T17 12q0-.425-.288-.713T16 11h-4q-.425 0-.713.288T11 12q0 .425.288.713T12 13Zm0-4h4q.425 0 .713-.288T17 8q0-.425-.288-.713T16 7h-4q-.425 0-.713.288T11 8q0 .425.288.713T12 9ZM5 21q-.825 0-1.413-.588T3 19V5q0-.825.588-1.413T5 3h14q.825 0 1.413.588T21 5v14q0 .825-.588 1.413T19 21H5Zm0-2h14V5H5v14ZM5 5v14V5Z"/></svg>
        <span>Issues</span>
      </a>
    </div>
  </div>
  <div class="tools">
    <a class="user">
      <img width="28px" src={ patrick } />
      <span>Patrick</span>
    </a>
    <a class="help">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="M12 22q-2.075 0-3.9-.788t-3.175-2.137q-1.35-1.35-2.137-3.175T2 12q0-2.075.788-3.9t2.137-3.175q1.35-1.35 3.175-2.137T12 2q2.075 0 3.9.788t3.175 2.137q1.35 1.35 2.138 3.175T22 12q0 2.075-.788 3.9t-2.137 3.175q-1.35 1.35-3.175 2.138T12 22Zm-2.9-2.55l1.2-2.75q-1.05-.375-1.813-1.162T7.3 13.7l-2.75 1.15q.575 1.6 1.775 2.8t2.775 1.8ZM7.3 10.3q.425-1.05 1.188-1.837T10.3 7.3L9.15 4.55q-1.6.6-2.8 1.8t-1.8 2.8L7.3 10.3ZM12 15q1.25 0 2.125-.875T15 12q0-1.25-.875-2.125T12 9q-1.25 0-2.125.875T9 12q0 1.25.875 2.125T12 15Zm2.9 4.45q1.575-.6 2.763-1.787T19.45 14.9l-2.75-1.2q-.375 1.05-1.15 1.813t-1.8 1.187l1.15 2.75Zm1.8-9.2l2.75-1.15q-.6-1.575-1.788-2.762T14.9 4.55l-1.15 2.8q1.025.375 1.775 1.137T16.7 10.25Z"/></svg>
    </a>
  </div>
</div>
