---
import sst from "../images/sst.png";
import patrick from "../images/patrick.jpg";
---

<div class="sidebar">
  <div class="switcher">
    <div class="person">
      <img width="36px" src={ patrick } />
      <span class="secondary">Patrick</span>
    </div>
    <img width="24px" src={ sst } />
  </div>
  <a class="active" href="/">Issues</a>
  <a href="/">Resources</a>
</div>
